@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.nunito {
  font-family: "Nunito", sans-serif;
}
.cont {
  display: flex;
  justify-content: center;
  padding-inline: 20px;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  isolation: isolate;
}
body {
  overflow-x: hidden;
}
.row2-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 183px;
  padding-top: 120px;
  position: relative;
}
.cont video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
